service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin() {
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.admin == true;
    }
    function signedIn() {
    	return request.auth.uid != null;
    }
    function owner() {
    	return request.auth.uid == resource.data.author;
    }
    function lessThanLimit(limit) {
      return request.query.limit <= limit;
    }
    match /stores/{storeId} {
      allow get: if isAdmin() || owner() || (!resource.data.archived && resource.data.status == 'online');
      allow list: if (isAdmin() || owner()) && lessThanLimit(10);
      allow create: if signedIn();
      allow update: if isAdmin() || owner();
      allow delete: if false;
    }
    match /users/{userId} {
      allow get: if isAdmin() || request.auth.uid == userId;
      allow list: if isAdmin() && lessThanLimit(10);
      allow create: if signedIn();
      allow update: if isAdmin() || request.auth.uid == userId;
      allow delete: if false;
    }
  }
}
