service cloud.firestore {
  match /databases/{database}/documents {
    function isAuth() {
    	return request.auth.uid != null;
    }
    function online() {
    	return !resource.data.archived && resource.data.status == 'online'
    }
    function owner() {
    	return request.auth.uid == resource.data.author;
    }
    function admin() {
      return isAuth()
      	&& exists(/databases/$(database)/documents/users/$(request.auth.uid))
        && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.admin == true;
    }
    function lessThanLimit(limit) {
      return request.query.limit <= limit;
    }
    match /{document=**} {
      allow read, write: if false;
    }
    match /stores/{storeId} {
      allow get: if online() || owner() || admin();
      allow list: if (online() || owner() || admin()) && lessThanLimit(10);
      allow create: if isAuth();
      allow update: if admin() || owner();
    }
    match /users/{userId} {
      allow get: if admin() || request.auth.uid == userId;
      allow list: if admin() && lessThanLimit(10);
      allow create: if isAuth();
      allow update: if admin() || request.auth.uid == userId;
    }
  }
}
