@charset "UTF-8";
@import url(../../assets/css/minireset.min.css);
@import url(../../assets/css/normalize.css);

h1,
h2,
h3,
h4,
h5,
h6 {
  /* color: #727a82; */
  color: #757575;
  font-weight: 700;
  line-height: 1.5;
  /* margin: 0 0 0.83em 0; */
}
h2 {
  font-size: 1.75em;
}
a {
  text-decoration: none;
  outline: 0;
}
p {
  margin: 1em 0;
}

.inner {
  margin: 0 auto;
  max-width: 1400px;
}
.wrap {
  padding: 0 24px;
  overflow: auto;
}
.grid {
  display: grid;
}
